.AppHeader h1 {
  color: black;
  /* text-shadow: #dcc48e 1px 1px; */
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  font-size: 50px;
}

.AppHeader h2 {
  color: #808080;
  /* text-shadow: #dcc48e 1px 1px; */
  margin-top: -30px;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 20px;
}

.AppHeader {
  text-align: center;
}
