.Carousel {
  text-align: center;
  color: #f1f7ed;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.Carousel h1 {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 30px;
}

.Photos {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 20px;
  flex-wrap: wrap;
}

.Photos img {
  height: 200px;
  width: 200px;
}

#line {
  background-color: #f1f7ed;
  color: black;
  width: 1280px;
  height: 2px;
  border: none;
  margin-top: -5px;
}

#divider {
  border-bottom-width: 1;
  border-bottom-color: "black";
}
