.react-tabs {
  -webkit-tap-highlight-color: transparent;
  /* background-color: #f1f7ed; */
}

.react-tabs__tab-list {
  /* border-bottom: 1px solid #aaa; */
  margin: 0 0 10px;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.react-tabs__tab {
  /* display: inline-block; */
  border-radius: 4px 4px 0 0;
  background: #4f6d7a;
  bottom: -1px;
  /* position: relative; */
  margin: 0px 2px 0px 2px;
  list-style: none;
  padding: 6px 12px;
  cursor: pointer;
  height: 30px;
  width: 283px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
}

.react-tabs__tab--selected {
  background: white;
  /* border-color: #aaa; */
  color: black;
  height: 30px;
  width: 283px;
  /* border-radius: 4px 4px 0 0; */
}

.react-tabs__tab:focus {
  box-shadow: 0 0 5px hsl(208, 99%, 50%);
  border-color: hsl(208, 99%, 50%);
  outline: none;
}

.react-tabs__tab:focus:after {
  content: "";
  position: absolute;
  height: 5px;
  left: -4px;
  right: -4px;
  bottom: -5px;
  background: #fff;
}

.react-tabs__tab-panel {
  display: none;
  background-color: white;
  margin-top: -10px;
  margin-right: 2px;
  margin-left: 2px;
  height: 400px;
}

.react-tabs__tab-panel--selected {
  display: block;
  background-color: white;
  margin-top: -10px;
  margin-right: 2px;
  margin-left: 2px;
}
