.SearchForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* .SearchForm > .ButtonBar {
  display: flex;
} */

/* .SearchForm > .ButtonBar > button {
  margin-left: auto;
  margin-top: 1rem;
} */

.SearchForm .error {
  background-color: pink;
  border: solid 1px red;
  color: maroon;
  margin: 1rem;
  padding: 1rem;
}

.SearchForm p {
  color: #fdfffc;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 20px;
  /* margin-top: -15px; */
}

.SearchBar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 20px;
}

.SearchBar input {
  border: none;
  background-color: #fdfffc;
  width: 600px;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  color: black;
  font-size: 20px;
  height: 30px;
  /* background-color: rgba(70, 70, 70, 0.379); */
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: black;
  opacity: 1; /* Firefox */
}

.SearchBar button {
  background-color: #40798c;
  border: 2px;
  border-color: black;
  color: #23272a;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 15px;
  width: 80px;
}

#dropdownButton {
  display: flex;
  justify-content: center;
  background-color: #40798c;
  border: 2px;
  border-color: black;
  color: #23272a;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 15px;
  width: 80px;
  height: 32px;
}

.noSelect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* .dropdownContent {
  display: flex;
  flex-direction: column;
} */

/* #dropdownContent1 {
  background-color: #40798c;
  border: 2px;
  border-color: black;
  color: #23272a;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 15px;
  width: 80px;
}

#dropdownContent2 {
  background-color: #40798c;
  border: 2px;
  border-color: black;
  color: #23272a;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 15px;
  width: 80px;
} */
