.SearchForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* .SearchForm > .ButtonBar {
  display: flex;
} */

/* .SearchForm > .ButtonBar > button {
  margin-left: auto;
  margin-top: 1rem;
} */

.SearchForm .error {
  background-color: pink;
  border: solid 1px red;
  color: maroon;
  margin: 1rem;
  padding: 1rem;
}

.SearchForm p {
  color: #f1f7ed;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 20px;
  /* margin-top: -15px; */
}

.SearchBar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 20px;
}

.SearchBar input {
  border: none;
  background-color: #f1f7ed;
  width: 600px;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  color: black;
  font-size: 20px;
  height: 30px;
  /* background-color: rgba(70, 70, 70, 0.379); */
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: black;
  opacity: 1; /* Firefox */
}

.SearchBar button {
  background-color: #4f6d7a;
  border: 2px;
  border-color: black;
  color: #23272a;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 15px;
  width: 80px;
}
