.Teams {
  width: 850px;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.TeamInfo {
  /* width: 650px; */
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-bottom: 20px;
}

.Circle {
  background-color: white;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.TeamData {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
  align-items: flex-start;
}

.TeamData p {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 15px;
  color: white;
}

#TeamName {
  font-size: 30px;
  color: #4f6d7a;
}

#TeamLogo {
  height: 100px;
  width: 100px;
}

#name {
  color: black;
}

#city {
  color: black;
}

#country {
  color: black;
}

.TeamFixtures {
  display: flex;
  flex-direction: column;
}

.TableInfo {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  background-color: white;
  /* margin-bottom: 10px; */
}

.PositionTeam {
  display: flex;
  flex-direction: row;
  /* width: 200px; */
  /* margin-left: 20px; */
  justify-content: space-around;
  margin-top: 10px;
  /* margin-bottom: 10px; */
}

.Positions {
  margin-left: 20px;
}

.Positions > thead > tr > th {
  display: flex;
  align-content: flex-start;
  margin-bottom: 10px;
  /* padding: 10px 0px 10px 0px; */
}

.Positions > tbody > tr > td {
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
}

.Clubs {
  margin-left: 40px;
}

.Clubs > thead > tr > th {
  display: flex;
  justify-content: flex-start;
  align-content: flex-start;
  margin-bottom: 10px;
  /* padding: 10px 0px 10px 0px; */
}

.Clubs > tbody > tr > td {
  display: flex;
  justify-content: flex-start;
  padding-bottom: 10px;
}

.TeamStats {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-content: flex-start;
  align-items: flex-start;
  margin-top: 10px;
  margin-right: 20px;
  /* margin-bottom: 10px; */
}

.Won {
  margin-left: 120px;
}

.Won > thead > tr > th {
  display: flex;
  justify-content: center;
  align-content: flex-start;
  margin-bottom: 10px;
  /* padding: 10px 0px 10px 0px; */
}

.Won > tbody > tr > td {
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
}

.Drawn {
  margin-left: 20px;
}

.Drawn > thead > tr > th {
  display: flex;
  justify-content: center;
  align-content: flex-start;
  margin-bottom: 10px;
  /* padding: 10px 0px 10px 0px; */
}

.Drawn > tbody > tr > td {
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
}

.Lost {
  margin-left: 20px;
}

.Lost > thead > tr > th {
  display: flex;
  justify-content: center;
  align-content: flex-start;
  margin-bottom: 10px;
  /* padding: 10px 0px 10px 0px; */
}

.Lost > tbody > tr > td {
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
}

.GoalsFor {
  margin-left: 20px;
}

.GoalsFor > thead > tr > th {
  display: flex;
  justify-content: center;
  align-content: flex-start;
  margin-bottom: 10px;
  /* padding: 10px 0px 10px 0px; */
}

.GoalsFor > tbody > tr > td {
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
}

.GoalsAgainst {
  margin-left: 20px;
}

.GoalsAgainst > thead > tr > th {
  display: flex;
  justify-content: center;
  align-content: flex-start;
  margin-bottom: 10px;
  /* padding: 10px 0px 10px 0px; */
}

.GoalsAgainst > tbody > tr > td {
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
}

.GoalDiff {
  margin-left: 20px;
}

.GoalDiff > thead > tr > th {
  display: flex;
  justify-content: center;
  align-content: flex-start;
  margin-bottom: 10px;
  /* padding: 10px 0px 10px 0px; */
}

.GoalDiff > tbody > tr > td {
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
}

.Points {
  margin-left: 20px;
}

.Points > thead > tr > th {
  display: flex;
  justify-content: center;
  align-content: flex-start;
  margin: 0px 0px 10px 0px;
}

.Points > tbody > tr > td {
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
}
